<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Drunkify - MPD jukebox</title>

    <link href="static/css/bootstrap.css" rel="stylesheet"/>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="static/css/drunkify.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        
        <div class="hero-unit">
            <h1 data-bind="text: currentSongName"></h1>
            <p data-bind="text: currentSongArtist"></p>
            
            <div class="progress progress-striped active progress-success">
                <div class="bar" data-bind="style: { width: songProgress }"></div>
            </div>
            
            <p class="pull-right" data-bind="text: songProgressText"></p>
        </div>
        
        <div class="row-fluid">
            <div class="form-search" style="text-align: center">
                <input type="text" class="input-xxlarge search-query" data-bind="value: query, event: { keyup: maybeSearch }" placeholder="$_("Search for track")" />
                <button class="btn btn-info" type="button" data-bind="click: search">$_("Search")</button>
                <button class="btn" type="button" data-bind="click: clearSearch, css: { active: result().length > 0, disabled: result().length == 0 }">$_("Cancel")</button>
            </div>
        </div>
        
        <br/>
        
        <div class="row-fluid">
            <div class="alert alert-success" id="song-added" style="display: none;"><span data-bind="text: added"></span> $_("has been added to the playlist")</div>
        </div>
        
        <div class="row-fluid">
            <table class="table" data-bind="style: { display: result().length > 0 ? '' : 'none' }">
                <thead>
                    <th>&nbsp;</th>
                    <th>$_("Artist")</th>
                    <th>$_("Track")</th>
                    <th>$_("Album")</th>
                </thead>
                <tbody data-bind="foreach: result">
                    <tr>
                        <td><a href="#" data-bind="click: \$root.enqueue, text: '$_("Add")'"></a></td>
                        <td data-bind="text: artist"></td>
                        <td data-bind="text: songName"></td>
                        <td data-bind="text: album"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="row-fluid">
            <table class="table" data-bind="style: { display: result().length == 0 ? '' : 'none' }">
                <thead>
                    <th>$_("Artist")</th>
                    <th>$_("Track")</th>
                </thead>
                <tbody data-bind="foreach: playlist">
                    <tr>
                        <td data-bind="text: artist"></td>
                        <td data-bind="text: songName"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/drunkify.js"></script>
</body>
</html>
